/* RESET 
=========================================================================== FINI */
body
{
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, h2, h3, h4, h5
{
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
}

p, small, a
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}











/* NAVBAR.BLADE 
=========================================================================== FINI */

/* LOGO NAVBAR */ 
#logo_navbar_app_blade 
{
    width: 6.5rem;
}

/* LIENS BEFORE */
#navbar #liens-navbar span::before 
{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
    width: 0%;
    height: 1px;
    background-color: #eaecf1c5;
    transition: all 0.3s ease-out;
}

/* LIENS HOVER BEFORE */
#navbar #liens-navbar span:hover::before 
{
    width: 100%;
}







/* HOME.BLADE 
=========================================================================== */
#home_section_1
{
    width: 100%; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; 
    z-index: -1;
}

#home_section_1 h1
{
    font-weight: 600;
}

#home_section_1 a span:hover
{
    font-weight: 500 !important;
    transition: all 0.3s;
    background-color: rgba(240, 255, 255, 0.864);
    color: #3d3d3d;
    transform: scale(1.01);
}

#home_section_1 a span
{
    transition: all 0.3s;
}

#home_section_2 .card
{
    transition: all 0.3s;
}

#home_section_2 .card:hover
{
    transition: all 0.3s;
    transform: scale(1.02);
    background-color: #3d3d3d;
    color: azure;
}

















/* REGISTER.BLADE 
=========================================================================== FINI */

/* ROW FICHIER REGISTER.BLADE */
#row_register
{
    min-height: 96vh;
}

/* TITRE */ 
#row_register h1 {
    font-size: 3rem;
    color: #3d3d3d;
}

/* TEXTE PLACEHOLDER INPUT */
#card_body_register input::placeholder
{
    color: #999;
    font-size: 11px;
}

/* TEXTE DATE RENSEIGNEE */
#card_body_register #date_permis 
{
    font-size: 11px;
    color: rgb(61, 61, 61);
}

/* TEXTE FICHIER CHARGE */
#card_body_register #image
{
    font-size: 12px;
}

/* BOUTTON FICHIER IMAGE */
#card_body_register #image::-webkit-file-upload-button 
{
    font-size: 11px;
    color:#999;
    border-right: 1px solid #999;
}

/* CARD BODY */
#card_body_register
{
    overflow-y: scroll; 
    height: 48vh;
}

/* PARTIE DROITE */
#right_register img 
{
    object-fit: cover; 
    width: 100%; 
    height: 95vh;
    border-radius: 20px;
}














/* LOGIN.BLADE 
=========================================================================== FINI */

/* ROW FICHIER LOGIN.BLADE */
#row_login
{
    min-height: 96vh;
}

/* TITRE */ 
#row_login h1 {
    font-size: 3rem;
    color: rgb(61, 61, 61);
}

/* TEXTE PLACEHOLDER INPUT */
#card_body_login input::placeholder
{
    color: #999;
    font-size: 11px;
}

/* PARTIE DROITE */
#right_login img 
{
    object-fit: cover; 
    width: 100%; 
    height: 95vh;
    border-radius: 20px;
}















/* EMAIL.BLADE 
=========================================================================== FINI */

/* ROW FICHIER LOGIN.BLADE */
#row_email
{
    min-height: 96vh;
}

/* TITRE */ 
#row_email h1 {
    font-size: 3rem;
    color: rgb(61, 61, 61);
}

/* TEXTE PLACEHOLDER INPUT */
#card_body_email input::placeholder
{
    color: #999;
    font-size: 11px;
}

/* PARTIE DROITE */
#right_email img 
{
    object-fit: cover; 
    width: 100%; 
    height: 95vh;
    border-radius: 20px;
}















/* FOOTER.BLADE 
=========================================================================== FINI */

/* © 2023 - Tous droits réservés */
footer h5
{
    font-weight: 300;
    font-size: 11px;
}

/* Mentions légales et la politique de confidentialité */
footer a
{
    font-weight: 300;
    font-size: 11px;
}























/* EDIT.BLADE "USER"
=========================================================================== */
#row_1_edit_user
{
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
}

#row_1_edit_user img 
{
    width: 9rem; 
    height: 9rem;
}

#section_1_edit_user
{
    background-color: #eaecf1c5
}

#section_1_edit_user h1 
{
    font-weight: 300
}

/* TEXTE PLACEHOLDER INPUT */
#card_mofif_infos input
{
    color: #696868;
    font-size: 12px;
}


#section_2_edit_user a
{
    transition: all 0.3s;
}

#section_2_edit_user a:hover
{
    transition: all 0.3s;
    transform: scale(1.02);
    background-color: #3d3d3d;
    color: azure !important;
}

#section_3_edit_user .col-md-8
{
    overflow-y: scroll; 
    height: 400px;
}

#section_4_edit_user .card
{
    max-width: 30rem;
}

























/* INDEX.BLADE  //  VEHICULES
=========================================================================== FINI */

#carte_index_vehicules
{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.511);
    transition: all 0.3s ease-out;
}

#carte_index_vehicules:hover
{
    transition: all 0.3s ease-out;
    transform: scale(1.01);
    filter: grayscale(100%);
    box-shadow: 0px 0px 5px rgb(255, 255, 255) !important;
}

#carte_index_vehicules .rounded-circle
{
    width: 2rem; 
    height: 2rem; 
    box-shadow: -0px -0px 3px black;
}

#carte_index_vehicules h3 
{
    font-weight: 800;
}

#carte_index_vehicules i
{
    color: #f5ec00; 
    text-shadow: 0px 0px 0.5px black;
}

#categories_index .card
{
    transition: all 0.3s ease-out;
}

#categories_index .card:hover
{
    transition: all 0.3s ease-out;
    transform: scale(1.02);
    background-color: #3d3d3d;
    color: azure;
}




































/* MEDIA QUERIES 
=========================================================================== */

/* 1023 PX */
@media screen and ( max-width: 1023px ) 
{
    /* REGISTER.BLADE 
    ========================== */ 

    /* Partie droite */ 
    #right_register 
    {
        display: none;
    }


    /* LOGIN.BLADE 
    ========================== */ 

    /* Partie droite */ 
    #right_login 
    {
        display: none;
    }


    /* EMAIL.BLADE 
    ========================== */ 

    /* Partie droite */ 
    #right_email 
    {
        display: none;
    }
}



@media screen and ( max-width: 1016px ) 
{
    #section_show_2 {
        flex-direction: column;
        
    }

    #col_1_show_vehicules{
        display: flex !important;
        justify-content: center !important;
        margin-bottom: 4rem;
    }

    #section_show_2 img{
        width: 200% !important;
    }

    #section_show_2 .card {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
        width: 100% !important;
    }
}



/* 767 PX */
@media screen and ( max-width: 767px ) 
{
    /* APP.BLADE 
    ===================================*/

    /* Menu deroulant connexion, inscription */ 
    #liens-navbarclair
    {
        padding-bottom: 15px;
    }

    /* Liens before */
    #navbarclair #liens-navbarclair span::before 
    {
        content: none;
        position: none;
        bottom: none;
        left: none; 
        transform: none;
        width: none;
        height: none;
        background-color: none;
        transition: none;
    }

    /* Liens hover before */
    #navbarclair #liens-navbarclair span:hover::before 
    {
        width: none;
    }
    /* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
    /* Menu deroulant connexion, inscription */ 
    #liens-navbardark
    {
        padding-bottom: 15px;
    }

    /* Liens before */
    #navbardark #liens-navbardark span::before 
    {
        content: none;
        position: none;
        bottom: none;
        left: none; 
        transform: none;
        width: none;
        height: none;
        background-color: none;
        transition: none;
    }

    /* Liens hover before */
    #navbardark #liens-navbardark span:hover::before 
    {
        width: none;
    }

    #section_show_2 img{
        width: 100% !important;
    }

}
